.section-editor__container {
  max-width: 1200px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 70px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  @include mediaQuery(768px, max) {
    padding-bottom: 98px;
  }
  @include mediaQuery(320px, max) {
    padding-bottom: 68px;
  }
}

.section-editor__button {
  display: block;
  max-width: 390px;
  height: 62px;
  margin-top: -31px;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  font-size: 21px;
  line-height: 22px;
  text-align: center;
  background-color: #8d81ac;
  color: #fff;
  padding-top: 18px;
  border-radius: 40px;
  border: 2px solid #8d81ac;

  &:hover {
    background-color: #ffffff;
    color: #8d81ac;
  }

  @include mediaQuery(500px, max) {
    max-width: 290px;
    height: 45px;
    font-size: 18px;
    line-height: 20px;
    padding-top: 10px;
    margin-top: -22px;
  }
}

.section-editor__button-description {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 16px;
  color: #848e97;

  @include mediaQuery(500px, max) {
    margin-top: 12px;
  }
}

.section-editor__title {
  font-weight: bold;
  font-size: 54px;
  line-height: 54px;
  text-transform: uppercase;
  color: #635c73;
  margin-top: 94px;
  margin-bottom: 35px;
  margin-right: auto;
  margin-left: auto;

  @include mediaQuery(768px, max) {
    font-size: 42px;
    line-height: 42px;
  }
  @include mediaQuery(480px, max) {
    font-size: 26px;
    line-height: 28px;
    margin-top: 80px;
  }
}

.section-editor__title-description {
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  color: #323232;

  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include mediaQuery(480px, max) {
    font-size: 14px;
    line-height: 20px;
  }
}

.section-editor__button-list {
  display: flex;
  justify-content: space-between;
  max-width: 365px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  list-style: none;

  @include mediaQuery(360px, max) {
    flex-wrap: wrap;
    max-width: 240px;
  }
}

.button-list__item {
  display: flex;
  @include mediaQuery(360px, max) {
    &:nth-child(1) {
      margin-right: 10px;
    }

    &:nth-child(3) {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.button-container__description-wrapper {
  display: flex;
  background-color: #b2c4d84d;
  height: 26px;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 5px 0 0 5px;
}

.button-container__svg {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-right: 3px;
}

.button-container__description {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: black;
}

.button-container__number {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 0 5px 5px 0;
  color: black;
}
