.section-subscription {
  background-color: #4b3b4e;
  padding-top: 80px;
  padding-bottom: 95px;

  @include mediaQuery(640px, max) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.section-subscription__container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.section-subscription__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 60px;

  @include mediaQuery(1135px, max) {
    margin-bottom: 0;
  }

  @include mediaQuery(640px, max) {
    font-size: 28px;
    line-height: 42px;
  }
}

.section-subscription__prices-wrapper {
  display: flex;
  justify-content: space-between;

  @include mediaQuery(1135px, max) {
    flex-wrap: wrap;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mediaQuery(640px, max) {
    width: 300px;
  }
}

.price-item {
  min-width: 260px;
  margin-top: 35px;

  &:nth-child(1) {
    @include mediaQuery(1135px, max) {
      margin-top: 40px;
      margin-left: 40px;
    }

    @include mediaQuery(640px, max) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 35px;
    }
  }

  &:nth-child(2) {
    @include mediaQuery(1135px, max) {
      margin-top: 40px;
      margin-right: 40px;
    }

    @include mediaQuery(640px, max) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
  }

  &:nth-child(3) {
    min-width: 300px;
    margin-top: 0;
    margin-bottom: 0;

    @include mediaQuery(1135px, max) {
      margin-top: 35px;
    }

    @include mediaQuery(640px, max) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
  }

  &:nth-child(4) {
    @include mediaQuery(1135px, max) {
      margin-top: 70px;
      margin-right: 40px;
    }

    @include mediaQuery(640px, max) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
  }
}

.price-item__title {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.06);
}

.price-item:nth-child(3) > .price-item__title {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #3e2a41;
}

.price-item:nth-child(3) > .price-item__container {
  padding-bottom: 45px;
  background-color: rgba(70, 48, 72, 0.84);
}

.price-item__container {
  padding-bottom: 35px;
  background: rgba(255, 255, 255, 0.11);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: #8d81ac;
    width: 60px;
    height: 5px;
    top: 150px;
    left: 100px;
  }
}

.price-item:nth-child(3) > .price-item__container {
  &::after {
    content: "";
    position: absolute;
    background-color: #8d81ac;
    width: 60px;
    height: 5px;
    top: 150px;
    left: 120px;
  }
}

.price-item:nth-child(3) > .price-item__container > .price-item__price {
  font-size: 82px;
  line-height: 90px;
}

.price-item__price {
  margin: 0;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.price-item__cliche {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.price-item__description {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 18px;
  max-width: 210px;
  text-align: center;
  color: #ffffff;
  margin-top: 75px;
  margin-bottom: 65px;
}

.price-item:nth-child(3) > .price-item__container > .price-item__description {
  margin-top: 90px;
  margin-bottom: 85px;
}

.price-item:nth-child(1) > .price-item__container > .price-item__description {
  margin-bottom: 83px;
}

.price-item__button {
  display: block;
  width: 165px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgb(100%, 100%, 100%, 0.15);
  border-radius: 40px;
}

.price-item:nth-child(3) > .price-item__container > .price-item__button {
  width: 190px;
  height: 52px;
  font-size: 16px;
  line-height: 18px;
}
