.section-you-get {
  background-color: #f4f4f4;
  padding-top: 95px;
  padding-bottom: 60px;
  @include mediaQuery(1116px, max) {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 0;
  }
}

.section-you-get__container {
  position: relative;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  @include mediaQuery(1117px, max) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.section-you-get__title {
  margin-right: 55px;
  font-size: 48px;
  line-height: 50px;
  color: #8d81ac;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;

  @include mediaQuery(1033px, max) {
    margin-right: auto;
    margin-left: auto;
  }

  @include mediaQuery(500px, max) {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 35px;
  }

  @include mediaQuery(335px, max) {
    max-width: 220px;
  }
}

.features-wrapper {
  @include mediaQuery(1033px, max) {
    margin-right: auto;
    margin-left: auto;
  }
}

.feature-wrapper__item {
  display: flex;
  max-width: 540px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;

  @include mediaQuery(1117px, max) {
    max-width: 730px;
  }

  @include mediaQuery(620px, max) {
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }
}

.feature-wrapper__image-wrapper {
  width: 111px;
}

.feature-wrapper__image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.feature-wrapper__description {
  margin-left: 25px;

  @include mediaQuery(620px, max) {
    text-align: center;
    margin-left: 0;
  }
}

.feature-wrapper__description-title {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  color: #323232;

  @include mediaQuery(620px, max) {
    margin-top: 25px;
  }
}

.feature-wrapper__description-text {
  max-width: 390px;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px;
  color: #848e97;

  @include mediaQuery(1117px, max) {
    max-width: 470px;
  }
}

.section-you-get__picture {
  position: absolute;
  width: 555px;
  top: 100px;
  right: 0;

  @include mediaQuery(1117px, max) {
    position: static;
    margin-left: auto;
    margin-right: -10px;
  }

  @include mediaQuery(590px, max) {
    width: 317px;
  }
}
